@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?g17q7d') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?g17q7d') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?g17q7d##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-todo {
  &:before {
    content: $icon-todo; 
  }
}
.icon-bullet {
  &:before {
    content: $icon-bullet; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-options {
  &:before {
    content: $icon-options; 
  }
}
.icon-menu1 {
  &:before {
    content: $icon-menu1; 
  }
}
.icon-list1 {
  &:before {
    content: $icon-list1; 
  }
}
.icon-options1 {
  &:before {
    content: $icon-options1; 
  }
}
.icon-lines {
  &:before {
    content: $icon-lines; 
  }
}
.icon-hamburger {
  &:before {
    content: $icon-hamburger; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-profile {
  &:before {
    content: $icon-profile; 
  }
}
.icon-avatar {
  &:before {
    content: $icon-avatar; 
  }
}
.icon-person {
  &:before {
    content: $icon-person; 
  }
}
.icon-member {
  &:before {
    content: $icon-member; 
  }
}

