$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/assets/icomoon/fonts" !default;

$icon-list: "\e900";
$icon-todo: "\e900";
$icon-bullet: "\e900";
$icon-menu: "\e900";
$icon-options: "\e900";
$icon-menu1: "\e901";
$icon-list1: "\e901";
$icon-options1: "\e901";
$icon-lines: "\e901";
$icon-hamburger: "\e901";
$icon-user: "\e902";
$icon-profile: "\e902";
$icon-avatar: "\e902";
$icon-person: "\e902";
$icon-member: "\e902";

