<div class="grid-y grid-margin-y grid-frame">
  <div class="small-6 cell">
    <div class="card" style="height: 100%">
      <div class="card-divider">Student management</div>
      <div class="card-section">
        <div class="grid-y grid-frame">
          <div class="shrink cell">
            <div class="grid-x grid-margin-x align-right">
              <div class="shrink cell">
                <button type="button"
                        class="mode-button"
                        (click)="showGridMode()"><i class="icon-list1"></i></button>
              </div>
              <div class="shrink cell">
                <button type="button"
                        class="mode-button"
                        (click)="showDetailsMode()"><i class="icon-list"></i></button>
              </div>
            </div>
          </div>
          <div class="auto cell cell-block-container">
            <div class="grid-x grid-margin-x">
              <div class="medium-2 cell">
                <select title=""
                        [formControl]="chooseYearFormControl">
                  <option [ngValue]="null">Choose Year</option>
                  <option *ngFor="let availableYear of availableYears"
                          [ngValue]="availableYear">
                    {{ availableYear }}
                  </option>
                </select></div>
              <div class="medium-2 cell">
                <select title=""
                        [formControl]="chooseClassTypeFormControl">
                  <option [ngValue]="null">Choose Class</option>
                  <option *ngFor="let availableClassType of availableClassTypes"
                          [ngValue]="availableClassType">
                    {{ availableClassType }}
                  </option>
                </select></div>
              <div class="auto cell cell-block-y">
                <ng-container *ngTemplateOutlet="getCurrentView()"></ng-container>
                <ng-template #gridTemplateRef>
                  <table class="student-list-grid">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>S.Name</th>
                      <th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let student of availableStudents"
                        (click)="showStudentDetails(student)"
                        [class.selected]="isSelected(student.id)"
                        [class.low-score]="student.grade<=45">
                      <td>{{student.fName}}</td>
                      <td>{{student.lName}}</td>
                      <td>
                        <dealhub-edit-score [score]="student.grade"
                                            (updated)="studentScoreUpdated($event, student.id)"></dealhub-edit-score>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </ng-template>
                <ng-template #detailsTemplateRef>
                  <dealhub-student-details *ngFor="let student of availableStudents"
                                           [student]="student"
                                           class="list-item"></dealhub-student-details>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-6 cell">
    <div class="card">
      <div class="card-section">
        <ng-container #studentDetailsContainer></ng-container>
      </div>
    </div>
  </div>
</div>
