.mode-button {
  color: green;
  cursor: pointer;
}

dealhub-student-details.list-item {
  margin-bottom: 1rem;
}

table.student-list-grid {
  thead {
    tr {
      background: green;
    }
  }

  tbody {
    tr {
      background: #fff;


      &.low-score {
        background: red;
      }

      &.selected {
        background: yellow;
      }
    }
  }
}
