<ng-container *ngTemplateOutlet="getViewModeTemplateRef()"></ng-container>
<ng-template #textViewModeTemplateRef>{{score}}</ng-template>
<ng-template #editViewModeTemplateRef>
  <input [formControl]="formControl"
         title=""/>
</ng-template>
