<div class="grid-x grid-margin-x grid-frame">
  <div class="shrink cell">
    <div class="student-image"></div>
  </div>
  <div class="auto cell">
    <div class="grid-x grid-margin-x" style="height: 100%;">
      <div class="medium-3 cell">
        <div class="grid-y grid-frame align-justify">
          <div class="cell">Name: <span class="student-data">{{student?.fName}}</span></div>
          <div class="cell">S.Name: <span class="student-data">{{student?.lName}}</span></div>
        </div>
      </div>
      <div class="medium-3 cell">
        <div class="grid-y grid-frame align-justify">
          <div class="cell">Class: <span class="student-data">{{student?.classType}}</span></div>
          <div class="cell">Year: <span class="student-data">{{student?.year}}</span></div>
        </div>
      </div>
      <div class="medium-3 cell">
        <div class="grid-y grid-frame align-justify">
          <div class="cell align-self-bottom">Score:
            <span class="student-data"><dealhub-edit-score [score]="student?.grade"
                                                           (updated)="studentScoreUpdated($event)"></dealhub-edit-score></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
