@import "../../scss/foundation-sites/settings/settings";
@import "~foundation-sites/scss/global";

:host {
  display: flex;
  background: #fff;
  border: 1px solid $medium-gray;
  border-radius: $global-radius;
  padding: 1rem;

  &.low-score {
    background: red;
  }
}

.student-image {
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid green;
  border-radius: 10px;
}

.student-data {
  font-weight: bold;
}
